.szklanka {
  height: 350px;
  position: relative;
  width: max-content;

  &__liczba {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 20;
    transform: translate(-50%);
    font-size: 60px;
    font-weight: 600;
    color: #174e7c;
    width: 70px;
    border-radius: 50%;
    // background-color: #2196f3;
  }

  &__pusta {
    width: 150px;
    z-index: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 350px solid #dede;
    border-radius: 15px;
  }

  &__woda {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 12px;
    width: 126px;
    height: 0;
    z-index: 10;
    transition: border 1s ease-out;
    &.stage0 {
      border-left: 0 solid transparent;
      border-right: 0 solid transparent;
      border-top: 0 solid #2196f3;
    }
    &.stage1 {
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-top: 20px solid #2196f3;
    }
    &.stage3 {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 60px solid #2196f3;
    }
    &.stage5 {
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 100px solid #2196f3;
    }
    &.stage7 {
      border-left: 21px solid transparent;
      border-right: 21px solid transparent;
      border-top: 140px solid #2196f3;
    }
    &.stage9 {
      border-left: 31px solid transparent;
      border-right: 31px solid transparent;
      border-top: 200px solid #2196f3;
    }
    &.stage11 {
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      border-top: 250px solid #2196f3;
    }
    &.stage13 {
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 300px solid #2196f3;
    }
    &.stage15 {
      border-left: 58px solid transparent;
      border-right: 58px solid transparent;
      border-top: 340px solid #1e83d6;
      border-radius: 10px 10px 0 0;
    }
  }
}
