.szklanka {
  height: 350px;
  position: relative;
  width: max-content;
  &__liczba {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%);
    font-size: 60px;
    font-weight: 600;
    color: white;
  }

  &__pusta {
    width: 150px;
    z-index: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 350px solid #dede;
    border-radius: 15px;
  }

  &__woda {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 12px;
    width: 126px;
    height: 0;
    z-index: 10;

    transition: border 1s ease-in-out;
    &.stage0 {
      border-left: 0 solid transparent;
      border-right: 0 solid transparent;
      border-top: 0 solid blue;
    }
    &.stage1 {
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 120px solid blue;
    }
    &.stage2 {
      border-left: 35px solid transparent;
      border-right: 35px solid transparent;
      border-top: 250px solid blue;
    }
  }
}
