.wyniki {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 55px 14px 36px;
  @media (min-width: 720px) {
    margin: 0 0 0 10px;
  }
  @media (min-width: 1500px) {
    font-size: 20px;
  }
  &__kontener {
    display: flex;
    flex-direction: column;
  }
  &__header {
    font-size: 28px;
    color: white;
    text-align: center;
  }
  &__button {
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    color: #ff0000;
    padding: 8px 16px;
    border-radius: 0 0 100% 100%;
    background: white;
    &:hover {
      background-color: #ffe9e9;
      font-weight: 600;
    }
    &:focus {
      outline-style: none;
    }
  }
  &__tabela {
    border-collapse: collapse;
    margin-top: 25px;
    min-width: 310px;
    max-width: 750px;
    box-shadow: 5px 10px 11px rgb(0 0 0 / 25%);

    @media (min-width: 1000px) {
      min-width: 550px;
    }
  }

  & thead tr {
    background-color: #174e7c;
    color: #ffffff;
    font-size: 1em;
  }
  & th,
  td {
    padding: 12px 15px;
  }
  & tbody tr {
    border-bottom: 1px solid #7fb4f0;
    background-color: #2196f3;
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    text-align: right;
  }
  & tbody tr td:nth-child(2) {
    text-align: center;
  }
  & tbody tr td:last-child {
    text-align: left;
  }

  & tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
    color: #174e7c;
  }
  & tbody tr:last-of-type {
    border-bottom: 5px solid #2196f3;
  }
}
